# phpstorm project files
.idea

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# One little Database
uiTest.db

# Database Connections
config/db.php
config/sqlite.php

# Swagger Files
web/api-docs

# Swagger site js
/web/js/swagger/site.js

# Dev Env
/web/index.php

# User Photos
/web/images/cache
/web/images/store
