html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*.navbar {*/
    /*background-color: white;*/
/*}*/

.navbar-brand {
    padding: 0;
    border: 0;
}

.navbar-brand img {
    height:100%;
}

.navbar-default {
    font-size: 14px;
}

.nounderline {
    text-decoration: none !important;
}

.breadcrumb {
    background-color: #fcfcfc;
}

.btn-file {
    margin-top: 0;
    margin-left: 0;
}

table > thead > tr {
     background-color: #009587;
     color: white;
}
table > thead > tr a{
    color: white;
}

.follow:hover, .like:hover, .follow:focus, .like:focus {
    outline: 0;
    color: #0F9D58;
}

.unfollow:hover, .unlike:hover, .unfollow:focus, .unlike:focus {
    outline: 0;
    color: #F00;
}

.navbar-badge {
    background-color: #009587;
}

.navbar-nav > li > .navbar-badge-link {
    padding-left: 0;
    padding-right: 0;
}

.search-objects {
    width : 50%;
    margin: auto;
}

/*
    By mixing kartik-v and material bootstrap some elements break.
    Here exist fixes for the select2 container.
*/
.input-group > .select2-container {
    padding: 0;
    margin-top: 20px;
}

.recommendation-panel {
    margin-top: 20px;
    /*margin-bottom: -20px;*/
}

.recommendation-panel-no-margin-top {
    margin-top: 0;
}

.recommendation-list {
    padding-left: 0;
    padding-right: 0;
    border-bottom-color: rgb(188, 232, 241);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.recommendation-list .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.row div {
    -webkit-transition: width 0.8s ease, margin 0.8s ease;
    -moz-transition: width 0.8s ease, margin 0.8s ease;
    -o-transition: width 0.8s ease, margin 0.8s ease;
    transition: width 0.8s ease, margin 0.8s ease;

    /*-webkit-transition: visibility 0.8s ease,opacity 0.8s ease;*/
    /*-moz-transition: visibility 0.8s ease,opacity 0.8s ease;*/
    /*-o-transition: visibility 0.8s ease,opacity 0.8s ease;*/
    /*transition: visibility 0.8s ease,opacity 0.8s ease;*/
}

.row .col-md-0 {
    width: 0;
    height: 0;
    margin-right: 0;
    opacity: 0;
    transition: opacity 0.8s ease;
    -moz-transition: opacity 0.8s ease;
    -webkit-transition: opacity 0.8s ease;
}

.fade {
    opacity: 1;
    transition: opacity 0.8s ease;
    -moz-transition: opacity 0.8s ease;
    -webkit-transition: opacity 0.8s ease;
}

.img-standards {
    padding: 0;
}